/* Service */
body {
  font-family: 'Open Sans';
}

.sp-bg-nav {
  background: rgb(80,222,167);
  background: -webkit-linear-gradient(257deg, rgba(68,134,109,1) 1%, rgba(64,113,94,1) 100%);
  background: -o-linear-gradient(257deg, rgba(68,134,109,1) 1%, rgba(64,113,94,1) 100%);
  background: linear-gradient(347deg, rgba(68,134,109,1) 1%, rgba(64,113,94,1) 100%);
}

.sp-bg {
  background-color: rgba(0,65,40,.75);
}

.sp-btn {
  background-color: rgb(80, 222, 167) !important;
  border-radius: 5px;
}

.sp-text {
  color: rgb(80, 222, 167) !important;
}

.sp-checkbox {
  background-color: rgb(80,222,167) !important;
}

/* Auth Page */

#header {

}

.sp-auth__header {
  height: 100vh;
  background: rgb(80,222,167);
  background: -webkit-linear-gradient(257deg, rgba(80,222,167,1) 0%, rgba(0,65,40,.75) 100%);
  background: -o-linear-gradient(257deg, rgba(80,222,167,1) 0%, rgba(0,65,40,.75) 100%);
  background: linear-gradient(347deg, rgba(80,222,167,1) 0%, rgba(0,65,40,.75) 100%);
}

.sp-auth__header-title {
  color: rgb(80, 222, 167);
  text-align: center;
  font-size: 4em;
  line-height: 5px;
}

.sp-auth__header-cap {
  color: #fff;
  font-size: .21em;
  text-transform: uppercase;
  text-align: center;
}

.sp-auth__form {
  background-color: #fff;
  border-radius: 7px;
  max-width: 400px !important;
}

/* Index Page */

.sp-index__body {
  background: rgb(80,222,167);
  background: -webkit-linear-gradient(257deg, rgba(80,222,167,1) 0%, rgba(0,65,40,.75) 100%);
  background: -o-linear-gradient(257deg, rgba(80,222,167,1) 0%, rgba(0,65,40,.75) 100%);
  background: linear-gradient(347deg, rgba(80,222,167,1) 0%, rgba(0,65,40,.75) 100%);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6em 1em 1em 1em !important;
}

#header {
  margin-right: 0px !important;
  margin-left: 0px;
  padding: 3em 1em;
  background-color: #fff;
}

.sp-index__header {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  border-radius: 5px;
}

#navbar {
  padding-left: 1em;
  padding-right: 1em;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.navbar a.nav-link {
  margin-left: 1em;
  margin-right: 1em;
  line-height: 16px;
}

.sp-index__navbar-link-text {
  font-size: .7em;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 0;
}

.sp-index__navbar-menu {
  margin-top: 0;
  margin-left: 1em;
}

.sp-index__navbar-user {
  margin-top: 0;
}

.sp-index__navbar-user a {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: .3em !important;
  margin-right: .3em !important;
}

.sp-index__navbar-dropdown {
  border: 0 !important;
  padding: 0 !important;
  min-width: 10rem !important;
  right: 0 !important;
  left: 0 !important;
}

.sp-index__navbar-dropdown a {
  font-size: .75rem !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.dropdown-toggle::after {
  display: none;
}

.
